.paddingPX {
    padding-top: 100px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
}

.page-footer a {
    color: rgb(255, 255, 255)
}